{{block "notifications" . }}
    <div id="sse" hx-ext="sse" sse-connect="/user/events">
        <div hx-get="/user/" hx-trigger="sse:DocumentDelete"></div>

        <div hx-get="/user/" hx-trigger="sse:DocumentUpload"></div>
        <div sse-swap="message"></div>
    </div>
{{end}}